doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='app.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		title
	body
		center
			.chart-container
				canvas#myChart
		script(type='text/javascript', src='./app.js')